<ul class="flex flex-col w-36">
  <li class="pt-auto pb-5 font-bold">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house text-pbgray mr-1"></i> Home
    <% end %>
  </li>
  <li class="pt-5 pb-5 font-bold">
    <%= link_to frameworks_path do %>
      <i class="fa-solid fa-square-poll-horizontal text-pbgray mr-1"></i> Frameworks
    <% end %>
  </li>
  <li class="pt-5 pb-5 font-bold">
    <%= link_to templates_path do %>
      <i class="fa-solid fa-network-wired text-pbgray mr-1"></i> Templates
    <% end %>
  </li>
  <li class="pt-5 pb-auto font-bold">
    <%= link_to '#' do %>
      <i class="fa-solid fa-check text-pbgray mr-1"></i> Assessments
    <% end %>
  </li>
</ul>