<ul class="flex justify-between">
    <li class="pl-6 pt-4 pb-4 pr-0 inline-flex text-xl text-white">point</li>
    <li class="pl-1 pt-4 pb-4 pr-0 inline-flex text-xl font-semibold text-white">b</li>
    <li class="pl-4 pt-4 pb-4 pr-0 m-auto inline-flex text-white">Assessment Tool TBD</li>
</ul>
<ul class="sm:flex hidden justify-between">
  <li class="pl-0 pt-4 pb-4 pr-5 inline-flex m-auto"><i class="fa-solid fa-bell text-white"></i></li>
  <li class="pl-0 pt-4 pb-4 pr-4 inline-flex m-auto text-white">Jorge Ortiz</li>
</ul>
<ul class="sm:hidden flex justify-between">
  <li class="pl-0 pt-4 pb-4 pr-5 inline-flex m-auto"><i class="fa-solid fa-caret-down text-white"></i></li>
</ul>
