
<section>
  <div>
    <h1 class="font-bold text-4xl">Assessment Tool</h1>
    <p>This is the Assessment Tool Project.</p>
  </div>
  <div>
    <p>
      The <strong>Assessment Tool Project</strong> consists where users can create assessments and send them to others
      in orther to answer these assessments.
    </p>
    <p>
      Users registered within this platform, will have specific roles with certain permissions.
      Users can be:
      <ul>
        <li>Admin</li>
        <li>Subject Manager Expert</li>
        <li>Facilitator</li>
      </ul>
    </p> 
  </div>
  <div>
    Come'on, and don't waste spreedsheets and money and start building your own surveys and send them to everyone.
  </div>
</section>
